.buy-btn button{
background-color: #FE5B27;
border-radius: 5px;
padding:0.3rem 0.5rem 0.5rem 0.5rem;
border: none;
color: black;
font-weight: 600;
}
.custom-box{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.plan-btn button{
    width:calc(100%/3.1);
    font-size:12px;
    border:1px solid #FE5B27;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.plan-btn button:hover{
 background-color: #FE5B27;
 color:#fff;
}
.card-title{
    font-weight: 700;
}
.input-group-text{
    background-color: #FE5B27 !important;
    color:#fff !important;
}
.input-group input{
    border: 1px solid #FE5B27;
    border-radius:5px;
    border-right:none;
}
.input-group input:focus{
    outline: none !important;
    border: 1px solid #FE5B27;

}
.add-filter{
    display: flex;
    justify-content: flex-end;
}
.add-filter span{
    border: 1px solid #FE5B27;
    padding:0.5rem;
    margin-left:1rem;
    border-radius:5px;
    cursor: pointer;
}
.add-filter span:hover{
  background-color: #FE5B27;
  color:#fff;
}
.add-filter span:first-child{
    position: relative;
}
.show-filter-item{
    display: block;
    border: 1px solid #FE5B27;
    border-radius:10px;
}
.hide-filter-item{
    display: none;
}
.filter-item-span span{
    border: 1px solid #FE5B27;
    padding:0.3rem 0.6rem;
    border-radius:25px;
    margin-right:0.4rem;
}
.category-active{
    background-color: black;
    color: #fff;
}
.center-card{
    cursor: pointer;
}
.thank-you-container{
    margin:3rem 0rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.thank-you-container h1{
   color: #FD5824;
    font-size:30px !important;
}
.thank-you-item{
    display: flex;
    justify-content: space-between;
    border:1px solid gray;
    border-radius:5px;
    height:40px;
}
.thank-you-item span:first-child{
    width:30%;
    border-right:1px solid gray;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thank-you-item span:last-child{
    width:70%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left:15px;
}
.thank-you-item1{
    display: flex;
    justify-content: space-between;
    margin:1.5rem 0rem;
}
.thank-you-item1 div{
  display: flex;
  border:1px solid gray;
  width:calc(100%/2.7);
  border-radius:5px;
}
.thank-you-item1 div p{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:12px;
   
}
.thank-you-item1 div p span{
    font-weight: 800
}
.thank-you-item1 div p:first-child{
    width:20%;
}
.thank-you-item1 div p:last-child{
    width:80%;
}
.total-price{
    display: flex;
    justify-content:space-between;
}
.done-btn{
    background-color: #FD5824;
    color:#fff;
    width:90%;
    margin: auto;
    border-radius:5px;
    height:40px;
    border:none;
    font-weight:bold;
    margin-top:0.7rem;
}
.center-details{
    display: flex;
    justify-content: space-between;
}
.center-details div:last-child p:last-child{
  display: flex;
  justify-content:space-between;
}
.center-details div:last-child p:last-child span:last-child{
    margin-left:1rem;
}
.center-details h1{
  color: #FD5824;
  font-size:25px;
  font-weight: 500;
}
.center-details i{
    color: #FD5824;
   
}
.verify-container{
    width:100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:4rem;
    margin:5rem 0rem;
}
.verify-container button{
    background-color: #FD5824;
    color: #fff;
    width:100%;
    height:40px;
    border: none;
    border-radius:5px;
    font-weight: 600;
}
.linkbutton a{
    text-decoration: none !important;
    color:white;
}
.linkbutton:hover a{
 color: #FD5824;
}

.react-datepicker__month-container{
  background-color: #fff !important;
}
.rbc-month-view{
    z-index: 0;
}
.rbc-allday-cell {
    display: none !important;
  }
.item1{
    display:flex;
    justify-content: space-between;
    padding-top:3rem;
}
.pass-align{
    width:30%;
}
.pass-align h3{
    text-align: center;
    font-weight:500;
    margin-left:1rem;
}
.pass-btn-d{
    display: flex;
    justify-content: flex-end;
}
.pass-btn-d button{
    border: none;
    margin-left: 1rem;
    padding:0.5rem;
    background-color: #FD5824;
    color: #fff;
    border-radius:5px;
    font-weight: 500;
}